*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#vid{
    width: 100%;
    height: 100%;
}

#vid video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

:root{
    --x: 400px;
    --y: 400px;
}

#box{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    background: radial-gradient(150px at var(--x) var(--y), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.935));
}
